<head>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
</head>

<body>

<div class="container">
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Navbar w/ text</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Register User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Search Reports</a>
                </li>
            </ul>
            <span class="navbar-text">
      Navbar text with an inline element
    </span>
        </div>
    </nav>
    <div class="row mt-5">
        <div class="col-md-12" id="myFile">
            <form id="import" class="form-group">
                <input type="file">Import File
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <div id="myDiv">
            </div>
        </div>

        <div class="col-md-3">
            <div>
                <label class="d-none" id="area-label">Estimated Area in Square meters</label>
                <p class="font-weight-bold" id="area"></p>
            </div>
        </div>


    </div>


    <div class="row">
        <button id= "gpgga-button" type="submit">Click to see all points plot here</button>

        <div class="col-md-9">
            <div id="allPointsGPGGA">
            </div>
        </div>

        <div class="col-md-3">
            <div>
                <label class="d-none" id="area-label-2">Estimated Area in Square meters</label>
                <p class="font-weight-bold" id="area-2"></p>
            </div>
        </div>


    </div>

    <div>
        <img id="jpg-export"></img>

    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" th:src="@{/js/dashboard.js}" src="/js/dashboard.js"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}" src="/js/bootstrap.js"></script>
<script type="text/javascript" th:src="@{/js/main.js}" src="/js/main.js"></script>

</body>