<head>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/user-signin.css" th:href="@{/css/user-signin.css}" />

</head>

<body>

<body>
<div class="container">
    <div>
        <button id="signin-button">Sign In</button>
        <button id="signup-button">Sign Up</button>
    </div>

    <div>
        <form id="signup-form">
            <input type="text" placeholder="USERNAME" />
            <input type="email" placeholder="EMAIL" /> <input type="password" placeholder="PASSWORD" />
            <input type="checkbox" id="agreement" class="rounded" checked>
            <label for="agreement">I understand this is not a real sign up.</label>
            <button type="button" class="submit-button">Sign up!</button>
        </form>
        <form id="signin-form">
            <input type="email" placeholder='EMAIL' />
            <input type="password" placeholder="PASSWORD" />
            <button type="button" class="submit-button">Sign In</button>
        </form>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" th:src="@{/js/user-signin.js}" src="/js/user-signin.js"></script>
<script type="text/javascript" th:src="@{/js/main.js}" src="/js/main.js"></script>

</body>