<head>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/user-signin.css" th:href="@{/css/user-signin.css}" />
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />

</head>

<body>

<body>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3>Admin Login</h3>
            <form id="admin-signin-form">
                <div class="form-group">
                    <input type="email" name="username" class="form-control" placeholder="Your Email *" value="" />
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Your Password *" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>
                <div class="form-group">
                    <a href="#" class="ForgetPwd">Forgot Password?</a>
                </div>
            </form>
        </div>
        <div class="col-md-6 login-form-1">
            <h3>User Login</h3>
            <form id="user-signin-form">
                <div class="form-group">
                    <input type="email" name="username" class="form-control" placeholder="Your Email *" value="" />
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Your Password *" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>
                <div class="form-group">

                    <a href="#" class="ForgetPwd" value="Login">Forgot Password?</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!--<div class="container">-->
<!--    <div>-->
<!--        <button userId="signin-button">Sign In</button>-->
<!--        <button userId="signup-button">Sign Up</button>-->
<!--    </div>-->

<!--    <div>-->
<!--        <form userId="signup-form">-->
<!--            <input type="email" name="username" placeholder="EMAIL" />-->
<!--            <input type="password" name="password" placeholder="PASSWORD" />-->
<!--            <input type="text" name="phone" placeholder="PHONE NO." />-->

<!--            <input type="text" name="deviceId" placeholder="DEVICE ID"/>-->
<!--            <input type="text" name="vehicleNo" placeholder="VEHICLE NO." />-->

<!--&lt;!&ndash;            <input type="checkbox" userId="agreement" class="rounded" checked>&ndash;&gt;-->
<!--            <button type="submit" class="submit-button">Sign up</button>-->
<!--        </form>-->
<!--        <form userId="signin-form">-->
<!--            <input type="email" userId= "email" name="username" placeholder='EMAIL' />-->
<!--            <input type="password" userId="password" name="password" placeholder="PASSWORD" />-->
<!--            <button type="submit" class="submit-button">Sign In</button>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" th:src="@{/js/user-signin.js}" src="/js/user-signin.js"></script>
<script type="text/javascript" th:src="@{/js/dashboard.js}" src="/js/dashboard.js"></script>
<script type="text/javascript" th:src="@{/js/main.js}" src="/js/main.js"></script>

</body>